$titleHeight: 36px;

.sticky-note {
  &-container {
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: white;
    width: 240px;
    cursor: pointer;
  }

  &-title {
    height: calc($titleHeight + 1px);
    line-height: $titleHeight;
    background-color: #d9d9d9;
    text-align: start;
    vertical-align: middle;
    cursor: inherit;

    .MuiInput-root {
      .MuiInput-input {
        width: 200px;
        padding: 0;
      }

      &:before {
        border: none;
      }

      &:hover:not(.Mui-disabled):before {
        border: none;
      }
    }

    .Mui-disabled:before {
      border-bottom: none;
      border-bottom-style: none !important;
    }

    &-input {
      height: $titleHeight;
      padding: 0 6px;
  
      & .MuiInput-input {
        font-size: 20px;
      }

      input:disabled {
        cursor: pointer;
      }
    }
  }

  &-more {
    z-index: 2;
    height: $titleHeight;
    width: $titleHeight;
  }

  &-content {
    height: 200px;
    cursor: inherit;
    
    .MuiInputBase-multiline {
      &:after {
        border-bottom: none,
      }

      &:before {
        border: none;
        border-bottom: none !important;
      }

      &:hover:not(.Mui-disabled):before {
        border: none;
      }

      .MuiInputBase-inputMultiline {
        padding: 2px 6px;
      }
    }

    textarea:disabled {
      cursor: pointer;
    }
  }
}